.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: white;
  border-radius: 15px;
  border: 5px solid black;
  overflow: auto;
  /* min-height: 1vh; */
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* .modal-header {
padding: 1vw;
} */

.modal-body {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding: 0.7vw;
}

.modal-title {
  margin: 0;
}

h1 {
  overflow: hidden;
  font-size: 100px;
  /* border: 2px solid green; */
}

h4 {
  text-align: center;
  font-size: 3vw;
}

p {
  /* text-align: center; */
  font-family: "Space Mono", monospace;
  font-size: 1vw;
}

.close-button {
  margin-bottom: 15%;
  background-color: blue;
  font-family: "Space Mono", monospace;
  color: white;
  border-radius: 15px;
  overflow: auto;
  width: 8vw;
}

.close-button:hover {
  background-color: red;
  /* padding: 8px 8px;
  font-size: 1.5vw; */
  /* width: 8.5vw; */
  color: white;
  font-family: "Space Mono", monospace;
}
